/* .unclickable-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100vw;
    height: 100vh;
    position: relative;
}*/
/* .btn-yes, .btn-no{
    height: 40px;
    width: 100px;
}  */
.btn-yes{
    position: absolute;
    top: 20;
    left: 20;
}
